Repository Bobthe28th/CaptureTheFart, pull requests merged in 2022-02, with the labels that each got.

#66 Archer Arrows
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
  src/me/bobthe28th/capturethefart/ctf/classes/Archer.java
  src/me/bobthe28th/capturethefart/ctf/classes/Wizard.java
  src/me/bobthe28th/capturethefart/ctf/items/archer/ArcArrow.java
  src/me/bobthe28th/capturethefart/ctf/items/archer/ArcGhostArrow.java
  src/me/bobthe28th/capturethefart/ctf/items/archer/ArcPoisonArrow.java
  src/me/bobthe28th/capturethefart/ctf/items/archer/ArcSonicArrow.java
  src/me/bobthe28th/capturethefart/ctf/items/archer/testarrow.java
  src/me/bobthe28th/capturethefart/ctf/itemtypes/CTFItem.java
Labels: CTF, Content Expansion, Art needed, Resource Pack

#69 Update deathMessages.json
  src/me/bobthe28th/capturethefart/ctf/deathMessages.json
Labels: CTF, Content Expansion, Grammar and Formatting, Cosmetic

#70 Armor System
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/CTFClass.java
  src/me/bobthe28th/capturethefart/ctf/CTFFlag.java
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
  src/me/bobthe28th/capturethefart/ctf/CTFTeam.java
  src/me/bobthe28th/capturethefart/ctf/classes/Archer.java
  src/me/bobthe28th/capturethefart/ctf/classes/Builder.java
  src/me/bobthe28th/capturethefart/ctf/classes/Demo.java
  src/me/bobthe28th/capturethefart/ctf/classes/Paladin.java
  src/me/bobthe28th/capturethefart/ctf/classes/Wizard.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWood.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWool.java
Labels: CTF, Content Expansion, Art needed, Cosmetic

#71 Builder can get their blocks back
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/CTFClass.java
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
  src/me/bobthe28th/capturethefart/ctf/classes/Builder.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWood.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWool.java
  src/me/bobthe28th/capturethefart/ctf/items/paladin/PalIron.java
  src/me/bobthe28th/capturethefart/ctf/itemtypes/CTFBuildUpItem.java
  src/me/bobthe28th/capturethefart/ctf/itemtypes/CTFItem.java
Labels: CTF, Balance

#72 Fixes breaking block when amount is null (0)
  src/me/bobthe28th/capturethefart/ctf/itemtypes/CTFBuildUpItem.java
Labels: CTF, Fix

#73 Version 0.7
  src/plugin.yml
Labels: Fix

#75 Builder and Demo hat
  src/me/bobthe28th/capturethefart/ctf/CTFCommands.java
  src/me/bobthe28th/capturethefart/ctf/classes/Builder.java
  src/me/bobthe28th/capturethefart/ctf/classes/Demo.java
Labels: CTF, Content Expansion, Cosmetic

#80 Fix /heal and heal on ctfplayer
  src/me/bobthe28th/capturethefart/ctf/CTFCommands.java
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
Labels: CTF, Fix

#81 Paladin
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
  src/me/bobthe28th/capturethefart/ctf/classes/Paladin.java
  src/me/bobthe28th/capturethefart/ctf/classes/WizardWind.java
  src/me/bobthe28th/capturethefart/ctf/items/paladin/PalHammer.java
  src/me/bobthe28th/capturethefart/ctf/items/paladin/PalIron.java
  src/me/bobthe28th/capturethefart/ctf/items/paladin/PalSword.java
Labels: CTF, Content Expansion

#84 Remove invis on damage
  src/me/bobthe28th/capturethefart/ctf/CTFClass.java
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
  src/me/bobthe28th/capturethefart/ctf/classes/Assassin.java
Labels: CTF, Code Improvements, Content Expansion

#85 Alchemist
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/classes/Alchemist.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcDamage.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcJump.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcPoison.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcRegen.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcSlow.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcSlowFall.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcSpeed.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcStrength.java
  src/me/bobthe28th/capturethefart/ctf/items/alchemist/AlcWeak.java
  src/me/bobthe28th/capturethefart/ctf/itemtypes/CTFItem.java
Labels: CTF, Content Expansion, Art needed

#86 Music system
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/CTFCommands.java
  src/me/bobthe28th/capturethefart/ctf/CTFTabCompletion.java
  src/plugin.yml
Labels: CTF, Content Expansion, Resource Pack

#87 Fake player class
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/CTFClass.java
  src/me/bobthe28th/capturethefart/ctf/CTFCommands.java
  src/me/bobthe28th/capturethefart/ctf/classes/Alchemist.java
  src/me/bobthe28th/capturethefart/ctf/classes/Archer.java
  src/me/bobthe28th/capturethefart/ctf/classes/Assassin.java
  src/me/bobthe28th/capturethefart/ctf/classes/Builder.java
  src/me/bobthe28th/capturethefart/ctf/classes/Demo.java
  src/me/bobthe28th/capturethefart/ctf/classes/Paladin.java
  src/me/bobthe28th/capturethefart/ctf/classes/WizardFire.java
  src/me/bobthe28th/capturethefart/ctf/classes/WizardIce.java
  src/me/bobthe28th/capturethefart/ctf/classes/WizardWind.java
Labels: CTF, Content Expansion

#88 Particles as assassin
  src/me/bobthe28th/capturethefart/ctf/items/assassin/AssPotion.java
Labels: CTF, Fix

#89 Paladin hammer throw
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
  src/me/bobthe28th/capturethefart/ctf/deathMessages.json
  src/me/bobthe28th/capturethefart/ctf/items/paladin/PalHammer.java
Labels: CTF, Content Expansion, Needs Testing
