Repository Bobthe28th/CaptureTheFart, pull requests merged in 2022-01, with the labels that each got.

#7 Make getLookedAtPlayer into its own function
  CaptureTheFart/src/me/bobthe28th/capturethefart/Main.java
  CaptureTheFart/src/me/bobthe28th/capturethefart/ctf/items/Wizard/WizStickIce.java
  CaptureTheFart/src/me/bobthe28th/capturethefart/ctf/items/Wizard/WizStickWind.java
Labels: CTF, Code Improvements, Needs Testing

#2 Removes extra var instances of target
  CaptureTheFart/src/me/bobthe28th/capturethefart/ctf/CTFCommands.java
Labels: CTF, Code Improvements, Needs Testing

#6 Fixes ice chunk dropping item
  CaptureTheFart/src/me/bobthe28th/capturethefart/ctf/items/Wizard/WizStickIce.java
Labels: CTF, Fix, Needs Testing

#12 Demolitionist TNT death messages
  src/me/bobthe28th/capturethefart/ctf/deathMessages.json
Labels: CTF, Content Expansion

#13 Adds new death messages
  src/me/bobthe28th/capturethefart/ctf/deathMessages.json
Labels: CTF, Content Expansion, Grammar and Formatting

#18 Adds builder class
  out/production/CaptureTheFart/me/bobthe28th/capturethefart/ctf/itemtypes/CTFItem.class
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/classes/Builder.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiAxe.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiShears.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWood.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWool.java
  src/me/bobthe28th/capturethefart/ctf/itemtypes/CTFItem.java
Labels: CTF, Content Expansion, Needs Testing, Art needed

#19 Fixes wool displaying as wood
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWool.java
Labels: CTF, Grammar and Formatting, Fix

#23 Makes ctf breakable blocks
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWood.java
  src/me/bobthe28th/capturethefart/ctf/items/builder/BuiWool.java
  src/me/bobthe28th/capturethefart/ctf/items/paladin/PalIron.java
  src/me/bobthe28th/capturethefart/ctf/itemtypes/CTFBuildUpItem.java
Labels: CTF, Content Expansion

#24 Moves CTFPlayer to base CTFClass and removes extra instances
  src/me/bobthe28th/capturethefart/ctf/CTFClass.java
  src/me/bobthe28th/capturethefart/ctf/classes/Builder.java
  src/me/bobthe28th/capturethefart/ctf/classes/Demo.java
  src/me/bobthe28th/capturethefart/ctf/classes/Paladin.java
  src/me/bobthe28th/capturethefart/ctf/classes/Wizard.java
Labels: CTF, Code Improvements

#27 Doesn't look like ghost arrow is possible
  src/me/bobthe28th/capturethefart/ctf/classes/Archer.java
  src/me/bobthe28th/capturethefart/ctf/items/archer/ArcGhostArrow.java
Labels: CTF, Content Expansion

#31 what the hell
  src/me/bobthe28th/capturethefart/ctf/deathMessages.json
Labels: CTF, Content Expansion

#43 Fixes stupid comma (hotfix)
  src/me/bobthe28th/capturethefart/ctf/CTFDeathMessages.java
  src/me/bobthe28th/capturethefart/ctf/deathMessages.json
Labels: CTF, Grammar and Formatting, Fix

#36 Remove items when setting class
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
Labels: CTF, Fix, Needs Testing

#42 Halfs demolitionists self knockback with TNT
  src/me/bobthe28th/capturethefart/Main.java
Labels: CTF, Balance, Needs Testing

#45 Sets Demo self knockback div to 1.5 (was 1 then 2)
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/items/demo/DemTNT.java
Labels: CTF, Balance

#48 Falling death messages
  src/me/bobthe28th/capturethefart/ctf/deathMessages.json
Labels: CTF, Content Expansion

#50 Demo custom model data
  src/me/bobthe28th/capturethefart/ctf/items/demo/DemArrow.java
  src/me/bobthe28th/capturethefart/ctf/items/demo/DemBow.java
Labels: CTF, Fix

#51 Particles for bomb arrow(rocket)
  src/me/bobthe28th/capturethefart/ctf/classes/Demo.java
Labels: CTF, Content Expansion, Cosmetic

#52 Fire stick range correction
  src/me/bobthe28th/capturethefart/ctf/items/wizard/WizStickFire.java
Labels: CTF, Balance

#53 Makes new ctfitem where all it does it do other items display cooldowns
  src/me/bobthe28th/capturethefart/ctf/classes/Demo.java
  src/me/bobthe28th/capturethefart/ctf/items/demo/DemBow.java
  src/me/bobthe28th/capturethefart/ctf/itemtypes/CTFOtherItem.java
Labels: CTF, Content Expansion, Cosmetic

#62 Resource Pack
  CTFpack/assets/minecraft/models/builder/axe.json
  CTFpack/assets/minecraft/models/demolitionist/bazooka.json
  CTFpack/assets/minecraft/models/demolitionist/bazooka_loading_0.json
  CTFpack/assets/minecraft/models/demolitionist/bazooka_loading_1.json
  CTFpack/assets/minecraft/models/demolitionist/bazooka_loading_2.json
  CTFpack/assets/minecraft/models/demolitionist/bazooka_rocket.json
  CTFpack/assets/minecraft/models/demolitionist/rocket.json
  CTFpack/assets/minecraft/models/item/arrow.json
  CTFpack/assets/minecraft/models/item/book.json
  CTFpack/assets/minecraft/models/item/crossbow.json
  CTFpack/assets/minecraft/models/item/iron_axe.json
  CTFpack/assets/minecraft/models/item/stick.json
  CTFpack/assets/minecraft/models/item/totem_of_undying.json
  CTFpack/assets/minecraft/models/meme/heheheha.json
  CTFpack/assets/minecraft/models/meme/trollface.json
  CTFpack/assets/minecraft/models/paladin/hammer.json
  CTFpack/assets/minecraft/models/wizard/firebook.json
  CTFpack/assets/minecraft/models/wizard/firerod.json
  CTFpack/assets/minecraft/models/wizard/icebook.json
  CTFpack/assets/minecraft/models/wizard/icerod.json
  CTFpack/assets/minecraft/models/wizard/lightningrod.json
  CTFpack/assets/minecraft/models/wizard/windbook.json
  CTFpack/assets/minecraft/sounds.json
  CTFpack/assets/minecraft/sounds/custom/boom.ogg
  CTFpack/assets/minecraft/textures/builder/axe.png
  CTFpack/assets/minecraft/textures/demolitionist/bazooka_loading_0.png
  CTFpack/assets/minecraft/textures/demolitionist/bazooka_loading_1.png
  CTFpack/assets/minecraft/textures/demolitionist/bazooka_loading_2.png
  CTFpack/assets/minecraft/textures/demolitionist/bazooka_rocket.png
  CTFpack/assets/minecraft/textures/demolitionist/bazooka_standby.png
  CTFpack/assets/minecraft/textures/demolitionist/rocket.png
  CTFpack/assets/minecraft/textures/meme/heheheha.png
  CTFpack/assets/minecraft/textures/meme/heheheha.png.mcmeta
  CTFpack/assets/minecraft/textures/meme/trollface.png
  CTFpack/assets/minecraft/textures/paladin/hammer.png
  CTFpack/assets/minecraft/textures/wizard/firebook.png
  CTFpack/assets/minecraft/textures/wizard/firerod.png
  CTFpack/assets/minecraft/textures/wizard/icebook.png
  CTFpack/assets/minecraft/textures/wizard/icerod.png
  CTFpack/assets/minecraft/textures/wizard/lightningrod.png
  CTFpack/assets/minecraft/textures/wizard/windbook.png
  CTFpack/pack.mcmeta
Labels: Resource Pack

#60 api-version 1.18
  src/plugin.yml
Labels: Code Improvements

#63 woah
  CTFpack/assets/minecraft/font/default.json
  CTFpack/assets/minecraft/textures/font/liam.png
  src/me/bobthe28th/capturethefart/Main.java
Labels: Content Expansion, Cosmetic, Resource Pack

#64 Flag on head
  src/me/bobthe28th/capturethefart/Main.java
  src/me/bobthe28th/capturethefart/ctf/CTFPlayer.java
  src/me/bobthe28th/capturethefart/ctf/items/wizard/WizStickFire.java
  src/me/bobthe28th/capturethefart/ctf/items/wizard/WizStickWind.java
Labels: CTF, Content Expansion, Needs Testing, Cosmetic
